# This is the rules file.

groups:
  - name: node_exporter
    rules:
    - alert: PrometheusTargetMissing
      expr: up == 0
      for: 0m
      labels:
        severity: critical
      annotations:
        summary: '{% raw %}Prometheus target missing (instance {{ $labels.instance }}){% endraw %}'
        description: '{% raw %}{A Prometheus target has disappeared. An exporter might be crashed.\n  VALUE = {{ $value }}\n  LABELS = {{ $labels }}{% endraw %}'